<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            X-admin v1.0
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="/static/admin/css/x-admin.css" media="all">

    </head>
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>会员管理</cite></a>
              <a><cite>基本设置</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
              <ul class="layui-tab-title">
                <li class="layui-this">网站设置</li>
              </ul>
              <div class="layui-tab-content" >
                <div class="layui-tab-item layui-show">
                    <form class="layui-form layui-form-pane" action="">
                        {foreach $result as $k=>$v}
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                <span class='x-red'>*</span>网站名称
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="sitename" autocomplete="off" placeholder="控制在25个字、50个字节以内" class="layui-input" value="{$v['sitename']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                <span class='x-red'>*</span>关键词
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="tag" autocomplete="off" placeholder="5个左右,8汉字以内,用英文,隔开"
                                class="layui-input" value="{$v['tag']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                <span class='x-red'>*</span>描述
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="descript" autocomplete="off" placeholder="空制在80个汉字，160个字符以内"
                                class="layui-input" value="{$v['descript']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                <span class='x-red'>*</span>底部版权信息
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="copy" autocomplete="off" placeholder="&copy; 2016 X-admin"
                                class="layui-input" value="{$v['copy']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">
                                <span class='x-red'>*</span>备案号
                            </label>
                            <div class="layui-input-block">
                                <input type="text" name="record" autocomplete="off" placeholder="京ICP备00000000号"
                                class="layui-input" value="{$v['record']}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="AppId" class="layui-form-label">
                                <span class="x-red">*</span>是否开启
                            </label>
                            <div class="layui-input-block">
                                {if $v['close']==0}
                                <input type="checkbox" checked name="open" lay-skin="switch" lay-filter="switchTest" title="开关" value="1">
                                {else}
                                <input type="checkbox" name="open" lay-skin="switch" lay-filter="switchTest" title="开关" value="0">
                                {/if}
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn" lay-submit="" lay-filter="*">
                                保存
                            </button>
                        </div>
                        {/foreach}
                    </form>
                    <div style="height:100px;"></div>
                </div>
              </div>
            </div>
        </div>
        <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
        <script src="/static/admin/js/x-layui.js" charset="utf-8"></script>
        <script>
            layui.use(['element','layer','form'], function(){
                $ = layui.jquery;//jquery
              lement = layui.element();//面包导航
              layer = layui.layer;//弹出层
              form = layui.form()



             //监听提交
              form.on('submit(*)', function(data){
                // console.log(data);
                //发异步，把数据提交给php
                var title = $('[name=sitename]').val();
                var tag = $('[name=tag]').val();
                var descript = $('[name=descript]').val();
                var copy = $('[name=copy]').val();
                var record = $('[name=record]').val();
                var close = $('[name=open]').val();
                $.ajax({
                    type:'post',
                    data:{title:title,tag:tag,descript:descript,copy:copy,record:record,close:close},
                    url:'/admin/site/siteupd',
                    dataType:'json',
                    success:success
                });
                function success(data){
                    console.log(data);
                    if (data.state==1){
                        layer.alert("保存成功", {icon: 6},function () {
                            // 刷新父页面
                            window.location.reload();
                        });
                    }
                }
                return false;
              });

              })
            </script>
            <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>
</html>