<!DOCTYPE html>
<head>
	<title>就问你 ☞ 牛逼不</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
	<link href="/static/index/css/facss" rel="stylesheet" type="text/css">
	<link href="/static/index/css/ba.css" rel="stylesheet" type="text/css">
	<link href="/static/index/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="/static/index/css/templatemo_style.css" rel="stylesheet" type="text/css">	
</head>
<body class="templatemo-bg-gray">
	<div class="container">
		<div class="col-md-12">	
			<h1 class="text-center margin-bottom-15">修改资料</h1>		
			<form class="form-horizontal templatemo-contact-form-2 templatemo-container" role="form" action="/index/user/xiugai" method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">				          		          	
				           	<div class="col-sm-12">
				            	<div class="templatemo-input-icon-container">
				            		<i class="fa fa-user"></i>
									{if !empty($username)}
				            		<div class="form-control" id="name"><span style="margin-left:18px" >{$username}</span></div>
				            		{else if}
				            		<div class="form-control" id="name"><span style="margin-left:18px" >******</span></div>
				            		{/if}
				            	</div>		            		            		            
				          	</div>              
				        </div>
				        <div class="form-group">
				            <div class="col-sm-12">
				            	<div class="templatemo-input-icon-container">
				            		<i class="fa fa-envelope"></i>
				            		<input type="email" class="form-control" value="{if !empty($result)}{$result[0]['email']}{else if}Email{/if}" name="Email" id="email">
				            	</div>
				          	</div>
				        </div>

				        <div class="form-group">
				            <div class="col-sm-12">
				            	<div class="templatemo-input-icon-container">
				            		<i class="fa fa-phone"></i>
				            		<input type="text" class="form-control" value="{if !empty($result)}{$result[0]['phone']}{else if}phone{/if}" id="phone" placeholder="Phone" , name="phone"/>
				            	</div>
				          	</div>
				        </div>
						 <div class="form-group">
				            <div class="col-sm-12">
				            	<div class="templatemo-input-icon-container">
				            		&nbsp;&nbsp;&nbsp;&nbsp;<span class="tebie">籍贯</span>
										<select name="place" class="main2_3_5" >
											<option value="">-省份-</option>
											<option did="1" value="北京市" >北京市</option>
											<option did="2" value="天津市" >天津市</option>
											<option did="3" value="河北省" >河北省</option>
											<option did="4" value="山西省" >山西省</option>
											<option did="5" value="内蒙古自治区" >内蒙古自治区</option>
											<option did="6" value="辽宁省" >辽宁省</option>
											<option did="7" value="吉林省" >吉林省</option>
											<option did="8" value="黑龙江省" >黑龙江省</option>
											<option did="9" value="上海市" >上海市</option>
											<option did="10" value="江苏省" >江苏省</option>
											<option did="11" value="浙江省" >浙江省</option>
											<option did="12" value="安徽省" >安徽省</option>
											<option did="13" value="福建省" >福建省</option>
											<option did="14" value="江西省" >江西省</option>
											<option did="15" value="山东省" >山东省</option>
											<option did="16" value="河南省" >河南省</option>
											<option did="17" value="湖北省" >湖北省</option>
											<option did="18" value="湖南省" >湖南省</option>
											<option did="19" value="广东省" >广东省</option>
											<option did="20" value="广西壮族自治区" >广西壮族自治区</option>
											<option did="21" value="海南省" >海南省</option>
											<option did="22" value="重庆市" >重庆市</option>
											<option did="23" value="四川省" >四川省</option>
											<option did="24" value="贵州省" >贵州省</option>
											<option did="25" value="云南省" >云南省</option>
											<option did="26" value="西藏自治区" >西藏自治区</option>
											<option did="27" value="陕西省" >陕西省</option>
											<option did="28" value="甘肃省" >甘肃省</option>
											<option did="29" value="青海省" >青海省</option>
											<option did="30" value="宁夏回族自治区" >宁夏回族自治区</option>
											<option did="31" value="新疆维吾尔自治区" >新疆维吾尔自治区</option>
											<option did="32" value="台湾省" >台湾省</option>
											<option did="33" value="香港特别行政区" >香港特别行政区</option>
											<option did="34" value="澳门特别行政区" >澳门特别行政区</option>
											<option did="35" value="海外" >海外</option>
											<option did="36" value="其他" >其他</option>
										</select>
									</span>
								<!-- 	<div class="form-control" id="name" style="width: 150px;float: right;margin-top: -13px;margin-right: 50px">
										{if !empty($result)}
										{foreach $result as $value}
										<span>{$value['place']}</span>
										{/foreach}
										{/if}
									</div> -->
				            	</div>
				          	</div>
				        </div>
				        <div class="form-group">
				            <div class="col-sm-12">
				            	<div class="templatemo-input-icon-container">
				            		&nbsp;&nbsp;&nbsp;&nbsp;<span class="tebie">生日</span>
									<span>
										<select name="brithyear" class="main2_3_4" >
											<option value="0">-年-</option>
											<option value="2017" >2017</option>
											<option value="2016" >2016</option>
											<option value="2015" >2015</option>
											<option value="2014" >2014</option>
											<option value="2013" >2013</option>
											<option value="2012" >2012</option>
											<option value="2011" >2011</option>
											<option value="2010" >2010</option>
											<option value="2009" >2009</option>
											<option value="2008" >2008</option>
											<option value="2007" >2007</option>
											<option value="2006" >2006</option>
											<option value="2005" >2005</option>
											<option value="2004" >2004</option>
											<option value="2003" >2003</option>
											<option value="2002" >2002</option>
											<option value="2001" >2001</option>
											<option value="2000" >2000</option>
											<option value="1999" >1999</option>
											<option value="1998" >1998</option>
											<option value="1997" >1997</option>
											<option value="1996" >1996</option>
											<option value="1995" >1995</option>
											<option value="1994" >1994</option>
											<option value="1993" >1993</option>
											<option value="1992" >1992</option>
											<option value="1991" >1991</option>
											<option value="1990" >1990</option>
											<option value="1989" >1989</option>
											<option value="1988" >1988</option>
											<option value="1987" >1987</option>
											<option value="1986" >1986</option>
											<option value="1985" >1985</option>
											<option value="1984" >1984</option>
											<option value="1983" >1983</option>
											<option value="1982" >1982</option>
											<option value="1981" >1981</option>
											<option value="1980" >1980</option>
											<option value="1979" >1979</option>
											<option value="1978" >1978</option>
											<option value="1977" >1977</option>
											<option value="1976" >1976</option>
											<option value="1975" >1975</option>
											<option value="1974" >1974</option>
											<option value="1973" >1973</option>
											<option value="1972" >1972</option>
											<option value="1971" >1971</option>
											<option value="1970" >1970</option>
											<option value="1969" >1969</option>
											<option value="1968" >1968</option>
											<option value="1967" >1967</option>
											<option value="1966" >1966</option>
											<option value="1965" >1965</option>
											<option value="1964" >1964</option>
											<option value="1963" >1963</option>
											<option value="1962" >1962</option>
											<option value="1961" >1961</option>
											<option value="1960" >1960</option>
											<option value="1959" >1959</option>
											<option value="1958" >1958</option>
											<option value="1957" >1957</option>
											<option value="1956" >1956</option>
											<option value="1955" >1955</option>
											<option value="1954" >1954</option>
											<option value="1953" >1953</option>
											<option value="1952" >1952</option>
											<option value="1951" >1951</option>
											<option value="1950" >1950</option>
											<option value="1949" >1949</option>
											<option value="1948" >1948</option>
											<option value="1947" >1947</option>
											<option value="1946" >1946</option>
											<option value="1945" >1945</option>
											<option value="1944" >1944</option>
											<option value="1943" >1943</option>
											<option value="1942" >1942</option>
											<option value="1941" >1941</option>
											<option value="1940" >1940</option>
											<option value="1939" >1939</option>
											<option value="1938" >1938</option>
											<option value="1937" >1937</option>
											<option value="1936" >1936</option>
											<option value="1935" >1935</option>
											<option value="1934" >1934</option>
											<option value="1933" >1933</option>
											<option value="1932" >1932</option>
											<option value="1931" >1931</option>
											<option value="1930" >1930</option>
											<option value="1929" >1929</option>
											<option value="1928" >1928</option>
											<option value="1927" >1927</option>
											<option value="1926" >1926</option>
											<option value="1925" >1925</option>
											<option value="1924" >1924</option>
											<option value="1923" >1923</option>
											<option value="1922" >1922</option>
											<option value="1921" >1921</option>
											<option value="1920" >1920</option>
											<option value="1919" >1919</option>
											<option value="1918" >1918</option>
										</select>
										<select name="brithmonth" class="main2_3_4" >
											<option value="0">-月-</option>
											<option value="1" >1</option>
											<option value="2" >2</option>
											<option value="3" >3</option>
											<option value="4" >4</option>
											<option value="5" >5</option>
											<option value="6" >6</option>
											<option value="7" >7</option>
											<option value="8" >8</option>
											<option value="9" >9</option>
											<option value="10" >10</option>
											<option value="11" >11</option>
											<option value="12" >12</option>
										</select>
										<select name="brithday" class="main2_3_4" >
											<option value="0">-日-</option>
											<option value="1" >1</option>
											<option value="2" >2</option>
											<option value="3" >3</option>
											<option value="4" >4</option>
											<option value="5" >5</option>
											<option value="6" >6</option>
											<option value="7" >7</option>
											<option value="8" >8</option>
											<option value="9" >9</option>
											<option value="10" >10</option>
											<option value="11" >11</option>
											<option value="12" >12</option>
											<option value="13" >13</option>
											<option value="14" >14</option>
											<option value="15" >15</option>
											<option value="16" >16</option>
											<option value="17" >17</option>
											<option value="18" >18</option>
											<option value="19" >19</option>
											<option value="20" >20</option>
											<option value="21" >21</option>
											<option value="22" >22</option>
											<option value="23" >23</option>
											<option value="24" >24</option>
											<option value="25" >25</option>
											<option value="26" >26</option>
											<option value="27" >27</option>
											<option value="28" >28</option>
											<option value="29" >29</option>
											<option value="30" >30</option>
										</select>
									</span>
									
				            	</div>
				          	</div>
				        </div>
						<div class="form-group">
				            <div class="col-sm-12">
				            	<div class="templatemo-input-icon-container">
				            		&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="sex" id="optionsRadios1" value="1" checked /> 男&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="radio" name="sex" id="optionsRadios2" value="0"> 女
									&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="radio" name="sex" id="optionsRadios2" value="2"> 保密
									
				            	</div>
				          	</div>
				        </div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
				          <div class="col-md-12">
				            	<a href="set.html" style="margin-left:360px;">返回</a>
				          </div>
				        </div>
					</div>	
					<div class="col-md-6">
						<div class="form-group">
				          <div class="col-md-11">
				            <div class="templatemo-input-icon-container1">
				            	<img class="form-control" style="height:210px;width:250px;float: left; margin-left: -20px;" id="message" src="{if !empty($result)}{$result[0]['picture']}{else if}/static/index/images/1.jpg{/if}"/>
				            </div>
				          </div>
				        </div>
					</div>	
				</div>	    
				
		        <div class="form-group">
		          <div class="col-md-12">
		            <input type="hidden" name="test" value="data" />
		            <input  style="margin-left:60px;"  type="file" name="image" >
		            <input type="submit" value="修改" class="btn btn-warning pull-right">		            
		          </div>
		        </div>		    	
		      </form>
		</div>
	</div>
</body>
</html>