<!--
Author: W3layouts
Author URL: http://www.htmlsucai.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Internship Sign In & Sign Up Form a Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Internship Sign In & Sign Up Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/static/index/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/index/css/snow.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/index/css/styletwo.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<!--<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">-->

<!-- //web font -->
</head>
<body>
<div class="snow-container">
	  <div class="snow foreground"></div>
	  <div class="snow foreground layered"></div>
	  <div class="snow middleground"></div>
	  <div class="snow middleground layered"></div>
	  <div class="snow background"></div>
	  <div class="snow background layered"></div>
</div>

<div class="top-buttons-agileinfo">
<a href="/index/user/login"  class="active">登录</a><a href="/index/user/register">注册</a><a href="/index/index/index">返回</a>
</div>
<h1>找回密码
</h1>
<div class="main-agileits">
<!--form-stars-here-->
		<div class="form-w3-agile">
			<h2 class="sub-agileits-w3layouts">找回密码</h2>
			<form action="#" method="post">
					<input type="email" name="Eamil" placeholder="用户" required="" />
					<input type="password" name="Password" placeholder="密码" required="" />
					<a href="#" class="forgot-w3layouts">找回密码 ?</a>
				<div class="submit-w3l">
					<input type="submit" value="找回">
				</div>
				<p class="p-bottom-w3ls"><a href="/index/user/register">点击注册</a>如果你没有一个帐户。
.</p>
			</form>
		</div>
		</div>
<!--//form-ends-here-->
<!-- copyright -->
	<div class="copyright w3-agile">
		<p> (c) 2017</a></p>
	</div>
	<!-- //copyright --> 
	<script type="text/javascript" src="/static/index/js/jquery-2.1.4.min.js"></script>

</body>
</html>