<!DOCTYPE html>
<html>
<head>
<title>你就说牛逼不牛逼</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Internship Sign In & Sign Up Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/static/index/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/index/css/snow.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/index/css/styletwo.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/index/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://open.51094.com/user/myscript/15a727eaf5e98b.html"></script>
</head>
<body>
<div class="snow-container">
	  <div class="snow foreground"></div>
	  <div class="snow foreground layered"></div>
	  <div class="snow middleground"></div>
	  <div class="snow middleground layered"></div>
	  <div class="snow background"></div>
	  <div class="snow background layered"></div>
</div>

<div class="top-buttons-agileinfo">
<a href="/index/user/login"  class="active">登录</a><a href="/index/user/register">注册</a><a href="/index/index/index">返回</a>
</div>
<h1>实习登录和注册表单
</h1>
<div class="main-agileits">
<!--form-stars-here-->
		<div class="form-w3-agile">
			<h2 class="sub-agileits-w3layouts">登录</h2>
			<form action="/index/user/dologin" method="post">
					<input type="text" name="username" placeholder="用户" required="" /><span id="yong"></span><br />	
					<input type="password" name="password" placeholder="密码" required="" /><span id="mi"></span><br />	
					<a href="#" class="forgot-w3layouts">忘记密码 ?</a>
					<span id="hzy_fast_login"></span>
				<div class="submit-w3l">
					<input type="submit" value="登录">
				</div>
				<p class="p-bottom-w3ls"><a href="/index/user/register/">点击注册</a>如果你没有一个帐户。
.</p>
			</form>
		</div>
		</div>
<!--//form-ends-here-->
<!-- copyright -->
	<div class="copyright w3-agile">
		<p> (c) 2017</a></p>
	</div>
	<!-- //copyright --> 
	<script type="text/javascript">
			$(function(){
				//ajax判断用户名
				$('[name=username]').blur(function () {
					var action = 'dolg';
					var method = $('form').attr('method');
					//读取input框中的value值
					var value = $('[name=username]').val();
					$.ajax({
						type:method,
						url:action,
						data:{username:value},
						dataType:'json',
						success:success
					});
					function success(data)
					{
						if (data.state == 0) {
							$('#yong').html('用户名不存在').css({color:'red',fontSize:15,});
						} 
						if (data.state == 1) {
							$('#yong').html('').css({color:'red',fontSize:12});
						}
					}	
				});


			});
	</script>

</body>
</html>


